
<h5 class="progress-bar bg-success progress-bar-striped" style="background-color: green; width:1700px; height:60px;color: white;margin-top: 100px; "><h5 style="padding-top:15px;">transaction submitted manual grace notices</h5></h5>
<div class="sub">
  
  <div class="flex-container">
      <div class="sub1"> 
       
        <mat-accordion>
  
             
        <p><a href="edit" style="padding-left:400px;">edit</a></p> 
        
    
    <mat-expansion-panel>
            
        <mat-expansion-panel-header>
          
          
            <h6 class="card  text-dark progress-bar progress-bar-striped" style="background-color: rgb(231, 170, 148); width: 400px; height: 40px;">Customer Identity</h6></mat-expansion-panel-header>
            <p class="bg-light text-dark"style="width: 400px;  height: 750px;">
        <mat-panel-description>
            
                <div class="table-responsive">
                        <table class="table table-striped">
                
                        
                                  <thead>
                                    <th>
                                      <tr>Role:</tr>
                                    </th>
                                      <td>Owner</td>
                                    </thead>
                                  
                                    <thead>
                                            <th>
                                              <tr>Policy Number:</tr>
                                            </th>
                                              <td>lL00152040</td>
                                            </thead>
                                    
                                  <thead>
                                        <th>
                                          <tr>Full Name:</tr>
                                        </th>
                                          <td>BURGER,<br>JULIE</td>
                                        </thead>
                                            
                                  
                                        <thead>
                                                <th>
                                                  <tr>Owner SSN/TIN:</tr>
                                                </th>
                                                  <td>601-32-1096</td>
                                                </thead>
                                    
                                                <thead>
                                                        <th>
                                                          <tr>Owner DOB:</tr>
                                                        </th>
                                                          <td>07/29/1992(48)</td>
                                                        </thead>
                                
                                <thead>
                                        <th>
                                          <tr>Owner Address:</tr>
                                        </th>
                                          <td>26623 N <br>SCOTTSDALE<br> RD,STE D3-219,<br>SCOTTSDALE<br>,AZ 85255</td>
                                        </thead>
                                        <thead>
                                                <th>
                                                  <tr>Insured Name:</tr>
                                                </th>
                                                  <td>BURGER,JULIE</td>
                                                </thead>
                                                <thead>
                                                        <th>
                                                          <tr>Insured SSN:</tr>
                                                    </th>
                                                          <td>601-32-1096</td>
                                                        </thead>            
                                                        <thead>
                                                                <th>
                                                                  <tr>Insured DOB:</tr>
                                                                </th>
                                                                  <td>07/29/1972(48)</td>
                                                                </thead>  
                                                                <div class="flex-container">
                                                               <div> <button type="button" class="btn btn-warning text-white" style="margin-left: 100px;">Other Role</button>
                                                                </div>
                                                                <div><button type="button" class="btn btn-warning text-white" style="margin-left: 50px;" >Authorize</button>
                                                                </div></div>   
                                    </table> 
                                  
                              
                              </div>
                               
        </mat-panel-description>

        
    </mat-expansion-panel>
         
</mat-accordion>


  </div>




  <div id="accordion" >
    <p><a href="edit" style="padding-left: 725px;">edit</a></p> 
    <div class="card ">
      <div class="card-header progress-bar bg-warning progress-bar-striped" style=" height: 55px;" id="headingOne">
        
          <button class="btn btn-outline-dark" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Policy Details
          </button>
        
      </div>
      
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
            <button type="button" routerLink="matchip" class="btn btn-outline-dark">Details </button>&nbsp;
            <button type="button" class="btn btn-outline-dark">Riders</button>&nbsp;
            <button type="button" class="btn btn-outline-dark">Values</button>&nbsp;
            <button type="button" class="btn btn-outline-dark">dividends</button>&nbsp;
           <button type="button"  class="btn btn-outline-dark">billing</button>&nbsp;
            <button type="button" class="btn btn-outline-dark">notes</button>&nbsp;
            <button type="button" class="btn btn-outline-dark">funds</button>&nbsp;
           <button type="button" class="btn btn-outline-dark">TAMRA 7 pay</button>
                   <router-outlet></router-outlet>
          </div>
              
           
      </div>
    </div>
    </div>
  
    


  
          
          
    



<div class="comp">
    <div class="flip-box">
        <div class="flip-box-inner">
          <div class="flip-box-front">
  <mat-accordion>
    
      
    <p><a href="edit" style="margin-left: 430px;" >edit</a></p> 
    
    
<mat-expansion-panel>
        
    <mat-expansion-panel-header>    
        <h6 class="card  text-dark progress-bar  progress-bar-striped" style="background-color:rgb(231, 170, 148); width: 400px; height: 40px; margin-left: 35px;">Transaction Request</h6></mat-expansion-panel-header>
        <p class="bg-light text-dark" style="width: 400px;  height: 750px; margin-left: 35px;">

          <mat-panel-description>
           

                              
                <button class="btn dropdown-toggle" style="width: 400px;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Cost Basis Letter    
                                              
                  </button>
                 
                  
                   </mat-panel-description>
                   <br>
                   <mat-checkbox class="example-margin" >Class Action Mailing</mat-checkbox><br>
                   <b style="color:Tomato;">Phone #</b><br><br>
                         <input type="textarea" style="width: 400px; height:50px; float: left;">
                         <mat-checkbox class="example-margin" >Class Action Mailing</mat-checkbox><br>
                   <b style="color:grey;">Reason</b><br><br>
                         <input type="textarea" style="width: 400px; height:50px; float: left;"><br><br><br>
                         <b style="color:grey;">Queue</b><br>
                         <button class="btn dropdown-toggle" style="width: 400px;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Alphamatch               
                                                       
                            </button><br><br>
                            <b style="color:grey;">Comments</b> <br> 
                            <input type="textarea" style="width: 400px; height:200px; float: left;">
                            <mat-checkbox class="example-margin" >Telephone Call Checkbox</mat-checkbox><br>
                                                  <button type="button" class="btn btn-warning text-white">Create</button>
                                                                                                        
</p>

</mat-expansion-panel>

</mat-accordion>

</div>
</div>
</div>
</div>
</div>


<br>


<div class="third">
  <mat-accordion>
    <p><a href="edit" style="margin-left:400px">edit</a></p> 
    
  <mat-expansion-panel>
        
    <mat-expansion-panel-header>    
        <h6 class="card  text-dark progress-bar  progress-bar-striped" style="background-color:rgb(108, 207, 77); width: 400px; height: 40px;">Related Parties</h6></mat-expansion-panel-header>
        
    <mat-panel-description>
        
            <div class="table-responsive">
                    <table class="table table-striped">
            <p class="bg-light text-dark" style="width: 400px;">
                    
                              <thead>
                                <td>
                                Full Name:
                                </td>
                                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Role
                                  </button>
                              
                                </thead>
                                
                                
                              
                                <thead>
                                        
                                          <td>BURGER JULIE</td>
                                        
                                          <td>Owner</td>
                                        </thead>
                                
                              <thead>
                                    
                                      <td>NEW FFR INSURANCE SERVICES INC</td>
                                    
                                      <td>Agent</td>
                                    </thead>
                                        
                              
                                    <thead>
                                            
                                              <td>BURGER JULIE</td>
                                            
                                              <td>Payor</td>
                                            </thead>
                                
                                            <thead>
                                                    
                                                      <td>BURGER JULIE</td>
                                                    
                                                      <td>Insured</td>
                                                    </thead>
                            
                                                                  
                                </table> 
                              
                           </div>
                           
    </mat-panel-description>
  
    
  </mat-expansion-panel>
  
  </mat-accordion>



<div class="five">
  <div id="accordion1">
    <p><a href="edit" style="padding-left: 725px;">edit</a></p> 
  <div class="card ">
    <div class="card-header  progress-bar bg-warning  progress-bar-striped"  id="headingOne">
      
        <button class="btn btn-outline-dark " data-toggle="collapse" data-target="#collapseOne1" aria-expanded="true" aria-controls="collapseOne">
          Payment History / Historical COI / Suspense / Revolving Error/Outgoing money
        </button>
      
    </div>
    
    <div id="collapseOne1" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion1">
      <div class="card-body">
        <select>
          <option selected>Payment History</option>
          <option value="volvo">10,000</option>
          <option value="fiat">30,000</option>
          <option value="audi">50,000</option>
        </select>  
      
      </div>
    </div>
  </div>
  </div>



  
  
  </div>
  


<div class="bootcamp">
  <mat-accordion>
  
    
    <p><a href="edit" style="padding-left: 400px;">edit</a></p> 
    
  
  <mat-expansion-panel>
        
    <mat-expansion-panel-header>    
        <h6 class="card  text-dark progress-bar  progress-bar-striped" style="background-color:rgb(108, 207, 77); width: 400px; height: 40px;">Close Call</h6></mat-expansion-panel-header>
        
    <mat-panel-description>
        <p class="bg-light text-dark" style="width: 400px;">
        <b style="color:Tomato;">Disposition:</b><br><br>
        <button class="btn dropdown-toggle" style="width: 400px;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Select Call Disposition               
                                       
            </button><br><br>     
            <b style="color:tomato;">Notes:</b> <br><br> 
                                  <input type="textarea" style="width: 400px; height:200px; float: left;"><br> <br> <br> <br> <br> <br> <br> <br> <br> 
                                  <b style="color:tomato;">Phone Number:</b> <br> 
                                  <input type="textarea" style="width: 400px; height:50px; float: left;"><br><br><br>
                                  <b style="color:grey;">Email Address:</b><br>
                                  <input type="textarea" style="width: 400px; height:50px; float: left;">
                                  <mat-checkbox class="example-margin" >Save Phone Number / Email</mat-checkbox><br>
                                  <mat-checkbox class="example-margin" >Generate Confirmation #</mat-checkbox><br>
                                  <mat-checkbox class="example-margin" >Call Later</mat-checkbox><br>
                                  <button type="button" class="btn btn-warning text-white">Save And Close</button>
    </mat-panel-description>
  
    
  </mat-expansion-panel>
  
  </mat-accordion>
  


<br><br>
    
</div>
</div>


























